<!-- Subscribe form and footer links -->
<div class="row mt-5 pt-3">
</div> <!-- row -->

<footer class="row pt-5">
  <div class="col-12">
    <p class="text-right">Copyright 2020 The Video Catalog Company

      - Designed by <a href="https://templatemo.com" rel="nofollow" target="_parent">TemplateMo</a></p>
  </div>
</footer>
</div> <!-- tm-content-container -->
</div>

</div> <!-- .tm-page-wrap -->

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>